.main {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

.navButtons {
    width: 300px;
    padding: 10px 0;
}

.navButtons .button {
    width: 300px;
    height: 60px;
}

.main-container{
    display: flex;
    justify-content: space-between;
}

.main-container .close-button {
    margin-right: 0px;
    width: 100px;
    background-color: rgb(201, 53, 53);
}

.main-copy{
    color: #fff;
}

.home-board-content {
    background: #fff;
    padding: 32px 40px;
    min-height: 93vh;
    max-height: auto;
    text-align: left;
}