body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.error {
  color: #d32f2f;
  background: #fff0f0;
  border-radius: 5px;
  padding: 8px;
  margin: 10px auto;
  width: 80%;
  text-align: center;
  font-weight: bold;
}

#root {
  width: 100%;
  height: 100%;
  margin-bottom: 0%;
}
